repos:
-   repo: https://github.com/humitos/mirrors-autoflake
    rev: v1.3
    hooks:
      - id: autoflake
        args:
          - --remove-all-unused-imports
          - --in-place
          - --ignore-init-module-imports
-   repo: https://github.com/timothycrosley/isort
    rev: 5.6.4
    hooks:
      - id: isort
        args: ["--profile", "black"]
        name: isort (python)
-   repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black
-   repo: https://gitlab.com/pycqa/flake8
    rev: 3.9.2
    hooks:
      -   id: flake8
          args:
          - --ignore=E203,W503,E501
